<ul>
  <% @entries.each do |entry| %>
  <li class='post' onclick='location.href="<%= entry.url %>"'>
      <h1 class='title'><%= link_to(raw(entry.title.sanitize), entry.url) %></h1>
      <h2 class='pubdate'><%= entry.published.to_s(:published) %></h2>
      <div class='summary'><%= raw(entry.summary) %></div>
  </li>
  <% end %>
</ul>
