<ul>
  <% @entries.each do |entry| %>
  <li>
    <a href="<%= entry.url %>">
      <h1 class='title'><%= link_to(raw(entry.title.sanitize), entry.url) %></h1>
      <h2 class='pubdate'><%= entry.published.to_s(:published) %></h2>
      <p class='summary'><%= raw(entry.summary) %></p>
    </a>
  </li>
  <% end %>
</ul>
