<%
def summarize(text)
  clean = text.gsub(/<[^>]+>/i," ").sub(/\[&#8230;\]/,"[...ellipsis...]").gsub(/(&[a-zA-Z0-9#]+;)/," ").sub(/^\s+/,'')
  summary = clean[/^(\s*(\S+\s+){25}[^.!?;]*[.!?;])/, 0]
  ret = ''
  if summary.blank?
    ret =  clean
  else
    ret = summary + " [...ellipsis...]"
  end
  return ret.sub(/\[\.\.\.ellipsis\.\.\.\]/,"[&#8230;]")
end
 %>

<ul>
  <% @entries.each do |entry| %>
  <li class='post' onclick='location.href="<%= entry.url %>"'>
      <h1 class='title'><%= entry.title.sanitize %></h1>
      <h2 class='pubdate'><%= entry.published.to_s(:published) %></h2>
      <div class='summary'><%= summarize(entry.summary) %></div>
  </li>
  <% end %>
</ul>


<!--
.sub(/^(?:\S+\s+){25}([\s\S]+)/," [...]")
.sub(/(?:\b\w+\b|\W+){25}.*\n*\.([\s\S]+)/," [...]")
  -->
