<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been added as an Admin to the Oakland CMS</h1>
    <p>Sign in with:</P>
      <p>Email: <%=@user.email%></p>
      <p>Password: <%=@pass%></p>
  </body>
</html>
