<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Editing link</h1>

      <%= render 'form' %>

      <hr>

      <p><%= link_to raw('&laquo; Back'), [@exhibition, @artist], :class => 'btn btn-mini' %></p>
    </div>
  </div>
</div>