<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h2>You've uploaded something that's too large</h2>

      <h3>The server can't handle that large of a file,
        please try uploading something smaller or contacting the server administrator to request
        an increase in the upload size</h3>
    </div>
  </div>
</div>
