<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h2>An error occured on the server</h2>

      <h3>Please
        <% if @github_url.present? %>
          <%= link_to "report what you were doing", @github_url, target: "_blank" %>
        <% else %>
          report what you were doing
        <% end %>
          when this happened so that the developers can fix this issue</h3>
    </div>
  </div>
</div>
