<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Editing category</h1>

      <%= render 'form' %>

      <hr>

      <p><%= link_to raw('&laquo; Back'), categories_path, :class => 'btn btn-mini' %> <%= link_to "Show #{@category.title}", [@exhibition, @category], :class => 'btn btn-mini' %></p>
    </div>
  </div>
</div>
