<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Category Detail</h1>

      <h2><%= @category.title %></h2>

      <hr>

      <p><%= link_to raw('&laquo; Back'), categories_path, :class => 'btn btn-mini' %> <%= link_to 'Edit', edit_exhibition_category_path(@exhibition, @category), :class => 'btn btn-mini' %></p>
    </div>
  </div>
</div>
